@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Rajdhani", sans-serif;
	}

	body {
		background-color: "#24263B";
	}
}
